body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  /* background-color: #010904; */
  /* background-color: black; */
  color: #f5f5f5;
  scroll-behavior: smooth;
}
h1, h2, h3, h4 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3d1e;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 97%;
  width: auto;
  flex-wrap: wrap;
}
.logo h1 {
  color: #d5e5b2;
  margin: 0;
}
.logo p {
  color: #ccc;
  font-size: 0.8em;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 5px;
}
.navbar a {
  color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.5s; 
}
.navbar a.active,
.navbar a:hover {
  background-color: #3e6b3e;
}
.hero {
  background: url('../dino_prjct.jpeg') center/cover no-repeat;
  text-align: center;
  padding: 300px 20px;
  color: #fff;
  position: relative;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: khaki;
 
}
.hero h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
.btn-primary {
  background-color: #f5a623;
  border: none;
  padding: 12px 25px;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
.section {
  padding: 40px 5.5%;
}
.dino-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 150px;
  margin: 30px 0;
}
.card {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 150px;
  transition: transform 0.3s;
  font-size: 20px;
}
.card:hover {
  transform: translateY(-7px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.interactive {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  width: 250px;
}
.contact-form span{
  color: khaki;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #1f1f1f;
  color: #fff;
}
.btn-green {
  background-color: #3ea63e;
  border: none;
  padding: 10px;
  color: #f8f9f6;
  border-radius: 6px;
  cursor: pointer;
}
.btn-green:hover{
  background-color: #1e3d1e;
}
.exploration {
  flex: 2;
}
#tabs{
  scroll-margin-top: 300px;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.tab {
  background-color: silver;
  color: black;
  border: none;
  border-radius: 5px;
}
.tab:hover{
  background-color: #f5a623;
  
  cursor: pointer;
}
.tab-active {
  background-color: #f5a623;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.featured {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}
.feature-card {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}
.feature-card img {
  width: 100%;
  border-radius: 10px;
}
.btn-learn {
  background-color: #3e6b3e;
  border: none;
  color: khaki;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10px;
}
 .btn-learn:hover{
    background-color: #2b502b;
 } 

footer {
  text-align: center;
  padding: 1px;
  background-color: black;
  color: khaki;
  font-size: 1em;
}
caption{
  font-size:large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  color: khaki;
  font-weight: 600;
  margin-top: 8px;
  text-align: left;
}
.geologic-table {
  width: 100%;
  height: 500px;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #1e1e1e;
  color: #f5f5f5;
  overflow: hidden;
  z-index: 5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.geologic-table th, .geologic-table td {
  border: 2px solid white;
  padding: 12px 5px;
  text-align: left;
}

.geologic-table th {
    background-color: #2b502b;
    text-align: center;
}

.geologic-table tr:nth-child(even) {
  background-color: #2a2a2a;
}

.geologic-table tr:hover {
  background-color: #3a3a3a;
}
#more-dino{
  margin-top: 10px;
  width: 150px;
  height: 30px;
  background-color: #3e6b3e;
  color: khaki;
  font-weight: 300;
  font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 3px; 
  margin-top: 10px;
}
#more-dino:hover{
  background-color: #2b502b;
}
.discovery-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin: 40px 0;
  padding: 10px;
}

.discovery-card {
  background-color: #2b2b2b;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 6px solid #3c5c2d;
  font-family: 'Georgia', serif;
}

.discovery-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.discovery-card h3 {
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 20px;
  color: khaki;
  margin-bottom: 10px;
}

.discovery-card p {
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .discovery-cards {
    grid-template-columns: 1fr;
  }
  .discovery-card {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .menu{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  
}